/**/
body {
	background-color:#020416;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}
button {
	background-color: transparent;
	border:none;
	outline: none;
	box-shadow: 0 0 4px white inset;
}
button:active {
	box-shadow: 0 0 2px darkgrey inset;
}
button:disabled {
	box-shadow: 0 0 2px darkgrey inset;
}
/*CLASS*/
.dp {
	background-color: #020612;
	margin: 2px;
	padding: 5px;
	height: auto;
	width: 35px;
	display: -webkit-inline-box;
	box-shadow: 0 0 4px white inset;
}
.btns, .gBtns {
	margin:3px 0;
	height: 35px;
	width: 35px;
	font-size: 15px;
	color:#FFF;
	text-align: center;
}
/*ID*/
#dvContain {
	margin: 0;
	padding: 0;
	display: unset;
	height: 100vh;
	width: 100vw;
}