/**/
body {
	background-image: url("../assets/space.jpg");
    background-size: 1920px 1078px;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}
/*CLASS*/
.dp {
	background-color: transparent;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 3vw;
	text-align: center;
}
.fsBtn {
	margin:2px 0;
}
/*ID*/
#dvContain {
	margin: 0;
	padding: 0;
	display: unset;
	height: 100vh;
	width: 100vw;
}